// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//General Hotels Styles //
header#hotels-header {
  position: relative;
  // background: #222;
  background-image: linear-gradient( rgb(8,79,124), rgb(64,107,140) );
}

.container {
  color: #72728c;
}

.container h2,h3 {
  color: #181818;
}



// hotels index page //

h1,h2,h3,h4,h5,h6 {
  color: #181818;
}

.hotel-link {
  // color: #1371b9;
  // color: #222;
  color: #10507a;
}

.hotel-link:hover {
  color: #0e90f2;
}

.hotels-wrapper {
  margin-top: 10%;
}

.hotel-image-wrapper {
  float: left;
  margin-right: 10px;
}

.right-align {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div.hotel-row {
  margin-bottom: 8%;
}


// hotels show page //
div.hotel-row-show {
  margin-top: 8%;
  margin-bottom: 8%;
}

div.availablity-form {
  margin-top: 2%;
}




// hotels/id/visits/new page //
body > div > div.container  p {
  color: #333
}

body > div > div.container > div.availablity-form.text-center > h4 {
  margin: 3% 0;
}





// users/id/visits/id  //
.flash-field {
  color: rgb(80, 173, 85);
}
#home-btn {
  padding: .375rem 1.8rem;
}
