/*  login & register styles */
body > div > div.login-register {
  font-family: 'Oswald';
  margin-top: 8%;
}

div.card-block {
  padding: 2.5%;
}

div.facebook-container {
  padding: 2.5%;
}

/*  My profile styles */

div.user-profile {
  margin-top: 4%;
}

/* #search-trips {
  display: inline-block;
  margin-left: 2%;
}

body > div > div.container.user-profile > h4:nth-child(3) {
  display: inline-block;
  float: left;
} */
